.red1 {
	background: #f00;
}

.blue1 {
	background: #00f;
}

.pink1 {
	background: #f0f;
}

body {
	background-color: #000;
}

.rowheader {
	height:24.875vh;
}

.rowlogo {
	height:21.125vh;
	padding-left: 2vw;
	padding-top: 1.875vh;
	object-fit: cover;
}

.rowmain {
	height:78.125vh;
}

.rowfooter {
	height: 37.5vh;
}
